.color-thistle {
    background-color: thistle;
    border: black 2px solid;
    padding-left: 5px;
    /* margin-right: 1480px; */
    border-radius: 10px;
    height: 120px;
}

.color-lavender-purple {
    background-color: #957DAD;
    border: black 2px solid;
    padding-left: 5px;
    /* margin-right: 1480px; */
    border-radius: 10px;
    height: 120px;
}

.color-pastel-violet {
    background-color: #D291BC;
    border: black 2px solid;
    padding-left: 5px;
    /* margin-right: 1480px; */
    border-radius: 10px;
    height: 120px;

}
.color-cotten-candy {
    background-color: #FEC8D8;
    border: black 2px solid;
    padding-left: 5px;
    /* margin-right: 1480px; */
    border-radius: 10px;
    height: 120px;
    
}

.color-lumber {
    background-color: #FFDFD3;
    border: black 2px solid;
    padding-left: 5px;
    /* margin-right: 1480px; */
    border-radius: 10px;
    height: 120px;

}

 .color-panel, .font-panel { 
  float: left;
  width: 240px;
  height: 200px;
  margin: 10px;
 
}



body {
    font-family:'Poppins', sans-serif;
}

.all-fonts, .all-text-styles {
margin-top: 300px;
border-top: 3px solid #bbb;
}

.space-mono.name, .roboto-condensed.name, .ubuntu.name, .nunito.name {
    text-decoration: underline;
}


.space-mono-2, .roboto-condensed-2, .ubuntu-2, .nunito-2 {
    font-weight: bold;
}

.space-mono-3, .roboto-condensed-3, .ubuntu-3, .nunito-3 {
    font-style: italic;
    font-weight: bold;
    opacity: 1;
}


.all-colors, .index {
    border-top: 3px solid #bbb;
}

